/* ==========================================================================
   Site wide styles - Academic Clarity
   ========================================================================== */

/*
   Selection
   ========================================================================== */

::-moz-selection {
	background-color: rgba(26, 107, 109, 0.2);
	color: $text-color;
	text-shadow: none;
}
::selection {
	background-color: rgba(26, 107, 109, 0.2);
	color: $text-color;
	text-shadow: none;
}

/*
   Smooth scrolling
   ========================================================================== */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}

/*
   Global classes
   ========================================================================== */

/* Capitalize */
.all-caps {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/* Float left */
.pull-left {
	float: left;
}

/* Float right */
.pull-right {
	float: right;
}
.image-pull-right {
	float: right;
	margin-top: 0;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.image-pull-left {
	float: left;
	margin-top: 0;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
/* Clearfix */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
	    content: "";
	}
	&:after {
		clear: both;
	}
}

/* Remove bullets and indentation from list */
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

/*
   Global transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}

/*
   Horizontal rule
   ========================================================================== */

hr {
	border: none;
	height: 1px;
	background: $border-color;
	margin: 2.5em 0;
}

/*
   Buttons
   ========================================================================== */

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}
