/* ==========================================================================
   Typography - Academic Clarity
   ========================================================================== */

/*
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 1.25;
	color: $text-color;
}
h1 {
	@include font-size(36);
	font-weight: 600;
	letter-spacing: -0.03em;
	margin-bottom: 0.5em;
}
h2 {
	@include font-size(28);
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
h3 {
	@include font-size(22);
	margin-top: 1.25em;
	margin-bottom: 0.4em;
}
h4 {
	@include font-size(18);
	font-weight: 600;
}
h5 {
	@include font-size(16);
	font-weight: 600;
}
h6 {
	@include font-size(14);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/*
   Links
   ========================================================================== */

a {
	text-decoration: none;
	color: $link-color;
	transition: color 0.2s ease, border-color 0.2s ease;
	&:visited {
		color: $linkcolorvisited;
	}
	&:hover {
		color: $linkcolorhover;
	}
	&:focus {
		outline: 2px solid $accent-primary;
		outline-offset: 2px;
		color: $linkcolorfocus;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Figure captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
    text-align:center;
}

/*
   Feature image captions
   ========================================================================== */

.image-credit {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	display: block;
	text-align: right;
	@include font(12);
	line-height: 1.3;
	font-style: italic;
	color: lighten($text-color, 30);
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8.5);
	}
	a {
		color: lighten($text-color, 30);
	}
}

/*
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

/*
   Blockquotes
   ========================================================================== */

blockquote {
	margin: 1.5em 0;
	margin-left: 0;
	padding: 1em 1.5em;
	border-left: 3px solid $accent-primary;
	background: linear-gradient(to right, rgba(26, 107, 109, 0.03), transparent);
	font-family: $alt-font;
	font-style: italic;
	color: $text-muted;
}

/*
   Footnotes
   ========================================================================== */

.footnotes {
	ol, li, p {
		margin-bottom: 0;
		@include font-rem(14);
	}
}

/*
   Paragraphs
   ========================================================================== */

p {
	margin: 0 0 $indent-var;
	// sibling indentation
  @if $paragraph-indent == true {
    & + p {
			text-indent: $indent-var;
			margin-top: -($indent-var);
		}
	}
}

/*
   Code snippets
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li {
	code {
		@include font-rem(12);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: #efefef;
		@include rounded(3px);
	}
}
pre {
	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;
}
