/* ==========================================================================
   Sass variables - Academic Clarity Theme
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 17;
$doc-line-height: 28;
$paragraph-indent: false !default;
$base-font: 'Crimson Pro', Georgia, serif;
$heading-font: 'DM Sans', 'Helvetica Neue', sans-serif;
$code-font: 'JetBrains Mono', 'Fira Code', Monaco, monospace;
$alt-font: $base-font;

/*
   Colors - Refined Academic Palette
   ========================================================================== */

$bodycolor      : #FAFAF8;
$body-color     : $bodycolor;
$textcolor      : #1a1a1a;
$text-color     : $textcolor;
$text-muted     : #5a5a5a;
$border-color   : #e0e0dc;
$basecolor 		  : #2a2a2a;
$compcolor 		  : spin($basecolor, 180);
$bordercolor    : #e0e0dc;
$white          : #fff;
$black          : #1a1a1a;
$accentcolor    : #1a6b6d;

/* Accent colors */
$accent-primary   : #1a6b6d;
$accent-light     : #e8f4f4;
$accent-dark      : #0d4a4c;

/* buttons */
$primary			: $accent-primary;
$success			: #3d8b40;
$warning			: #c17d2e;
$danger				: #b84a3f;
$info				  : #2a7ab8;
$video				  : #6b7280;

/* brands */
$facebook-color     : #3b5998;
$flickr-color       : #ff0084;
$foursquare-color   : #0cbadf;
$google-plus-color  : #dd4b39;
$instagram-color    : #4e433c;
$linkedin-color     : #4875b4;
$pinterest-color    : #cb2027;
$rss-color          : #fa9b39;
$tumblr-color       : #2c4762;
$twitter-color      : #1da1f2;
$vimeo-color        : #1ab7ea;
$youtube-color      : #ff3333;

/* links */
$linkcolor 		    : #1a6b6d;
$link-color       : $linkcolor;
$linkcolorhover 	: darken($linkcolor, 12);
$linkcolorvisited : $linkcolor;
$linkcolorfocus 	: $accent-dark;

/*
   Breakpoints
   ========================================================================== */

$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
